{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

<section class="section">
    <section class="container">
        
        <article class="card">
            <div class="card content">
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et natus eos eveniet assumenda fugiat quaerat a laborum cum repellendus earum mollitia, quisquam placeat quasi numquam molestiae fugit facilis dolor unde.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sapiente tempore minus, molestiae explicabo quam expedita consectetur amet temporibus praesentium quasi atque, ullam dolores id! Fugit minima corporis facilis optio.</p>
            </div>
        </article>

    </section>
</section>

{% include 'footer.html' %}
{% endblock content %}
