{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

              
{% load static %}

<section class="section">
    <section class="container">
        <section class="row">
            <div class="col l4 s12">
                <div class="card">
                    <div class="card-content">
                        50
                    </div>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="card">
                    <div class="card-content">
                        50
                    </div>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="card">
                    <div class="card-content">
                        50
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="col">
                <div class="card">
                    <div class="card-content">

                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

{% include 'footer.html' %}

<script>

</script>

{% endblock content %}
