{% extends 'base.html' %}

{% block content %}
<section class="section">
    <section class="container">
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <label for="" class="label">
                Username
            </label>
            <input type="text" name="username">

            <label for="" class="label">
                Password
            </label>
            <input type="password" name="password">

            <button class="btn waves-effect" type="submit">Login</button>

        </form>

    </section>

</section>

{% endblock content %}