{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

              
        
      

<section class="section">
    <section class="container">
            <div class="card">
                    <div class="card-content">
                        <h5>{{ placement.placement_title }}</h5>
                        <p class="chip indigo white-text">{{ placement.placement_company }}</p>
                        <p>{{placement.placement_company.company_description}}</p>
                      
                        <p class="grey-text">Placement information was added on: {{ placement.placement_created }}</p>
                        <p class="grey-text">Placement information was updated on: {{ placement.placement_modified }}</p>
                        
                    </div>
                </div>

       <div class="card">
           <div class="card-content">
               <form action="" method="POST" class="form">
                   {% csrf_token %}
               <h5>Bidding Details</h5>
               <label for="">
                   Share Quantity
               </label>
               <input name="quantity" required id="quantity" type="number" min=1>
               <label for="">
                   Amount ($)
               </label>
               <input name="amount" required id="amount" type="number" min=1>
               <button type="submit" style="margin-top: 1rem;" class="btn pink waves-effect waves-light">Submit Bid</button>
            </form>
           </div>
       </div>

       <div class="card">
            <div class="card-content">
                <h5>Summary</h5>
                <ul class="collection">
                    <li class="collection-item">Number of shares (#)
                        <span class="secondary-content" id='span-shares'></span>
                    </li>
                    <li class="collection-item">Total Amount Bidded ($)
                            <span class="secondary-content" id='span-amount'></span>
                    </li>
                    <li class="collection-item">Average Bid Per Share ($)
                            <span class="secondary-content" id='span-average'></span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>



{% include 'footer.html' %}

<script>

var display_amount = document.getElementById('span-amount');
var display_shares = document.getElementById('span-shares');
var display_average = document.getElementById('span-average');

var quantity_input = document.getElementById('quantity');
var amount_input = document.getElementById('amount');

var amount;
var quantity;
var average;

change_summary = () => {
    amount = amount_input.value;
    quantity = quantity_input.value;
    
    display_amount.innerText = `${amount}`;
    display_shares.innerText = `${quantity}`;

    if ((amount.length > 0) & (quantity.length > 0)) {
        average = Math.round(amount / quantity);
        display_average.innerText = `${average}`;
    }

}

amount_input.addEventListener('change', change_summary)
quantity_input.addEventListener('change', change_summary)

</script>
{% endblock content %}


<!-- 
placement_title = models.CharField(max_length=255)
placement_slug = models.SlugField()
placement_company = models.ForeignKey(Company, on_delete=models.CASCADE)


placement_created = models.DateTimeField(auto_now_add=True)
placement_modified = -->