{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

              
        
      

<section class="section">
    <section class="container">
        
        <div class="row">
            {%for p in placements %}
            <div class="col m4 s12">

                <div class="card">
                    <div class="card-content">
                        <h5>{{ p.placement_title }}</h5>
                        <p class="chip">{{ p.placement_company }}</p>
                        <p style="font-size: 0.8rem;"><code>Added: {{ p.placement_created }}</code></p>
                        <p style="font-size: 0.8rem;"><code>Last Updated: {{ p.placement_created }}</code></p>
                        <a href="{% url 'app:placement-detail' p.placement_slug %}" style="margin-top: 1rem;" class="btn pink waves-effect waves-light">View Details</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
       
    </section>
</section>

{% include 'footer.html' %}
{% endblock content %}
