{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

              
        
      

<section class="section">
    <section class="container">
        
            <div class="col s12">
                    <div class="card">
                            <div class="card-content">
                                <h4>Welcome to the marketplace</h4>
                                <p>Explore placements by various listed companies</p>
                            </div>
                        </div>
            </div>

            <div class="card">
                <div class="card-content">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Placement Title</th>
                                        <th>Placement Company</th>
                                        <th>Added</th>
                                        <th>Modified</th>
                                        <th>View Details</th>
                                    </tr>
                                </thead>
                
                                <tbody>
                                        {%for p in placements %}
                                        <tr>
                                            <td>{{ p.id }}</td>
                                            <td>{{ p.placement_title }}</td>
                                            <td>{{ p.placement_company }}</td>
                                            <td>{{ p.placement_created }}</td>
                                            <td>{{ p.placement_modified }}</td>
                                            <td><a href="{% url 'app:placement-detail' p.placement_slug %}" style="margin-top: 1rem;" class="btn pink waves-effect waves-light">View Details</a></td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                </div>
            </div>

    </section>
</section>

{% include 'footer.html' %}
{% endblock content %}
